@charset "utf-8";


h2 {
  font-size: 60px;
  letter-spacing: 10px;
}
/* nav */

nav {
  background: #fff;
  display: flex;
  justify-content: space-between;
}
.fa-3x {
  margin: 5px 30px; 
}
.contact {
  color: #fff;
  background: #689cc5;
  font-size: 16px;
  padding: 8px;
  margin: 1em 1em;
  border: none;
  transition: 0.5s;
}
.contact:hover {
  color: #333;
}
  .drawer_hidden {
    display: none;
  }


/* keyvisual */

.keyvisual-inner {
  text-align: center;
  background: url('../img/keyvisual/keyvisual.jpg');
  background-size: 1100px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 290px 0;
  
}

.title {
  font-size: 65px;
  font-weight: 400;
  color: #90a6df;
}
.sub-title {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  margin-top: 30px;
}

/* WORK */

.work-inner {
  background: #e2eff8;
  padding-top: 50px;
}

.work-inner > h2 {
  margin-top: 20px;
  margin-bottom: 35px;
}
.work-inner > p {
  font-size: 16px;
  margin-right: 30px;
  margin-bottom: 12px;
}
.pc {
  margin: 0 95px;
  width: 250px;
  float: left;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

/* skills */

.skills-inner {
  padding: 50px 0;
  background: #fff;
  width: 1100px;
}

.skill-img {
  width: 300px;
  height: 300px;
  opacity: 0.7;
  transition: 0.3s;
}
.skill-img:hover {
  opacity: 1;
}

ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  margin: 50px 100px 50px 0;
}
li:nth-child(3n) {margin: 50px 0;}


/* plan */

.plan-inner {
  background: #cfdde6;
  padding: 50px 0;
}

.select-plan {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
}

tr {
  font-size: 16px;
  line-height: 26px;
}
th,td {
  border-right: 1px solid #fff;
  padding: 5px;
  width: 25%;
}

th:last-child,
td:last-child {
  border: none;
}
tr:nth-child(even) {
  background: #fff;
}
tr:nth-child(odd) {
  background: #deebf7;
}
tr:first-child {
  background: #90a6df;
}

/* sns */


.sns-inner {
  background: #e2eff8;
}
.icon {
  padding: 25px;
  margin: 200px 0;
  display: flex;
  justify-content: center;
}
.icon > a {
  width: 185px;
  font-size: 40px;
  margin: 0 100px;
  text-align: center;
}
.snsi {
  color: #7a7f80;
  transition: 0.5s;
}
.snsi:hover {
  color: #fff;
}

/* inner icon */

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}
a:hover,a:visited {color: inherit;}
i {color: #7a7f80;}

/* footer */

.footer-inner {
  width: 1100px;
  padding: 15px 0;
  background: #cdd6dc;
}
.footer-text {
  font-size: 14px;
  color: #7a7f80;
  text-align: right;
  margin: 0 30px;
}




/* TAB */

@media screen and (max-width: 1199px) {
  /* keyvisual */
  .keyvisual-inner {
    padding: 250px 0;
  }

  /* work */
  .pc {
    float: none;
  }
  .work-inner {width: 100%;}
  .work-inner > p {
    margin-right: 0;
    padding-bottom: 50px;
  }
  
  /* skills */
  ul {
    flex-direction: column;
  }
  li {margin: -2px 0;}
  li:nth-child(3n) {margin: -2px 0 80px 0;}
  li:last-child {margin-bottom: 0;}
  li:first-child {margin-top: 50px;}

}

/* SP */


@media screen and (max-width: 767px) {
  .inner {
    width: 97%;
  }
  h2 {font-size: 40px;}
  
  /* header */
  
  .contact {
    display: none;
  }

  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 100%;
    left: 0%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: rgb(110, 110, 110);
    transition: .5s;
    text-align: center;
    padding-top: 20px;
  }
  
  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
  }
  
  .nav_item a {
    color: #fff;
    text-decoration: none;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    bottom: 0;/* メニューを画面に入れる */
    
  }

  /* keyvisual */
  .title {
    font-size: 40px;
  }
  .sub-title {
    font-size: 30px;
  }


  /* plan */
  th {
    font-size: 14px;
    line-height: 22px;
  }
  td {font-size: 12px;}

  /* sns */
  .icon {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 50px 0;
  }
  .icon > a {
    width: 185px;
    font-size: 40px;
    margin: 50px 120px;
  }  
}